@import "../../variables.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

}

.illustration {
    display: flex;
    width: 70%;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
    padding: 3rem 0;

    .array-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        color: $primary-clr;
  
        .rectangle {
            background-color: $primary-clr;
            height: 100%;
            width: 100%;
            &:hover {
                background-color: $dark-primary-clr;
            }
        }
    }
}