header {
  svg:hover {
    cursor: pointer;
    transition: .1s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
  input {
    border-radius: .6rem;
    padding: .5rem;
    max-width: 8rem;
  }
}

.centerX {
  display: flex;
  justify-content: center;
}

.bottomRight {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
}
