@import "../variables.scss";

.params {
    width: 100%;
    display: flex;
    justify-content: center;
    color: $primary-clr;
}

form {
    display: flex;
    gap: .5rem;
    input {
        border-radius: .6rem;
        padding: .5rem;
        width: 6rem;
    }
    input[type="submit"] {
        width: 4.5rem;
        margin: 0 1rem;
        background-color: $secondary-clr;
        color: $primary-clr;
        border: .15rem solid $primary-clr;
        cursor: pointer;
        transition: .1s ease-in-out;
        &:hover {
            transform: scale(1.1);
            background-color: $primary-clr;
            color: $secondary-clr;
        }
    }
    select {
        width: 4rem;
        cursor: pointer;
        border-radius: .6rem;
        padding: .5rem;
    }
    label {
        margin-right: .5rem;
    }
}

@media screen and (max-width: 620px) {
    form {
        border: .15rem solid $primary-clr;
        padding: .5rem;
        border-radius: 1rem;
        flex-direction: column;
        align-items: center;
    }
}