@import '../variables.scss';

nav {
    display: flex;
    gap: 1rem;
    list-style: none;
    color: $secondary-clr;
    text-decoration: none;
    padding: 2rem;
}
    
nav > a {
    cursor: pointer;
    color: $primary-clr;
    text-decoration: none;
    padding: .5rem 1rem;
    
}

@media screen and (max-width: 620px) {
    nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0rem;
        > a {
            padding: .2rem;

            &:before{
                content: '';
                position: absolute;
                width: 4rem;
                height: 1rem;
                bottom: 0;
                left: 0;
                background-color: #9CF5A6;
                border-radius: .3rem;
                // visibility: hidden;
                // transform: scaleX(0);
                // transition: .25s linear;
            }
            &:hover:before,
            &:focus:before {
            visibility: visible;
            transform: scaleX(1);
}
        }
    }
}

.selected {
    background-color: $primary-clr;
    color: $secondary-clr;
    border-radius: .25rem;
}
