@use '../styles/variables' as *;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.status {
  color: $primary-clr;
  font-size: 1rem;
  width: 100%;
  text-align: right;
  padding: 1rem;
  font-family: 'Courier New', Courier, monospace;
}


