.stack {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;  
  width: 200px;
  
  & > div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    padding: 0.3125rem;
    width: 100%;
    font-size: 20px;
    animation: show .8s ease-in;
    transition: all 0.2s ease-in;
    &:hover {
      background-color: rgb(255, 255, 255, 0.4);
    }
    &::after {
      content: attr(data-value);
    }
    &:last-child:hover {
      background-color: rgba(230, 158, 158, 0.2);
      cursor: pointer;
      &::after {
        content: 'x';
      }
    }
  }
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
