@import 'styles/_variables';
@import 'styles/_reset';


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  background-color: $secondary-clr;
  height: 100vh;
}


// Making the bottom part take up the rest of the screen
#root {
  display: flex;
  flex-flow: column;
  height: 100%;
}

#root > :nth-child(1) {
  flex: 0 1 auto;
}

#root > :nth-child(2) {
  flex: 1 1 auto;
}